{% extends "base.html" %}
{% block title %} Add Faculty {% endblock %}
{% block content %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/radio1.css') }}">
	<script>
		document.getElementsByClassName("home")[0].setAttribute("id", "");
		document.getElementsByClassName("fac")[0].setAttribute("id", "highlight");
		document.getElementsByClassName("fac1")[0].setAttribute("id", "highlight");
	</script>
	<form method='post' action='/addfaculty'>
		<table class="grade4">
			<tr>
				<td> Faculty Id </td>
				<td> : </td>
				<td> <input type="number" name="faculty_id" required> </td>
			</tr>
			<tr>
				<td> Username </td>
				<td> : </td>
				<td> <input type="text" name="username" required> </td>
			</tr>
			<tr>
				<td>First Name</td>
				<td> : </td>
				<td> <input type="text" name="first_name" required> </td>
			</tr>
			<tr>
				<td>Middle Name</td>
				<td> : </td>
				<td> <input type="text" name="middle_name"> </td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td> : </td>
				<td> <input type="text" name="last_name" required> </td>
			</tr>
			<tr>
				<td>Address</td>
				<td> : </td>
				<td> <input type="text" name="address" required> </td>
			</tr>
			<tr>
				<td>Mobile No. </td>
				<td> : </td>
				<td> <input type="tel" name="mobile_no" minlength="10" maxlength="10" required> </td>
			</tr>
			<tr>
				<td>Email</td>
				<td> : </td>
				<td> <input type="email" name="email" required> </td>
			</tr>
			<tr>
				<td>Password</td>
				<td> : </td>
				<td> <input type="password" name="password" required> </td>
			</tr>
			<tr>
				<td>Department</td>
				<td> : </td>
				<td> {% for i in depts %} <input type="radio" name="dep_id" value="{{ i[0] }}" id="{{ i[0] }}" required><label for="{{ i[0] }}"> {{ i[1] }} </label> {% endfor %} </td>
			</tr>
		</table>
		<input type="submit" name="Submit" id="button2">
	</form>
{% endblock %}