{% extends "base.html" %}
{% block title %} Edit Student {% endblock %}
{% block content %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/radio1.css') }}">
	<script>
		document.getElementsByClassName("home")[0].setAttribute("id", "");
		document.getElementsByClassName("stud")[0].setAttribute("id", "highlight");
		document.getElementsByClassName("stud2")[0].setAttribute("id", "highlight");
	</script>
	<form method='post' action='/editstudent2' id="loginform">
		<table class="grade4">
			<tr>
				<td>Roll No. </td>
				<td> : </td>
				<td> <input type="number" name="roll_no" value="{{ dict['roll_no'] }}" readonly id="roll1" required> </td>
			</tr>
			<tr>
				<td>First Name</td>
				<td> : </td>
				<td> <input type="text" name="first_name" value="{{ dict['first_name'] }}" required> </td>
			</tr>
			<tr>
				<td>Middle Name</td>
				<td> : </td>
				<td> <input type="text" name="middle_name" value="{{ dict['middle_name'] }}"> </td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td> : </td>
				<td> <input type="text" name="last_name" value="{{ dict['last_name'] }}" required> </td>
			</tr>
			<tr>
				<td>Address</td>
				<td> : </td>
				<td> <input type="text" name="address" value="{{ dict['address'] }}" required> </td>
			</tr>
			<tr>
				<td>Mobile No. </td>
				<td> : </td>
				<td> <input type="tel" name="mobile_no" minlength="10" maxlength="10" value="{{ dict['mobile_no'] }}" required> </td>
			</tr>
			<tr>
				<td>Department</td>
				<td> : </td>
				<td> {% for i in depts %} {% if i[0]==dict['dep_id'] %} <input type="radio" name="dep_id" value="{{ i[0] }}" id="{{ i[0] }}" checked required> <label for="{{ i[0] }}"> {{ i[1] }} </label> {% else %} <input type="radio" name="dep_id" value="{{ i[0] }}" id="{{ i[0] }}" required> <label for="{{ i[0] }}"> {{ i[1] }} </label> {%  endif %} {% endfor %} </td>
			</tr>
		</table>
		<input type="submit" name="Submit" id="button2">
	</form>
{% endblock %}