{% extends "base.html" %}
{% block title %} Roll No. {% endblock %}
{% block content %}
	<script>
		document.getElementsByClassName("home")[0].setAttribute("id", "");
		document.getElementsByClassName("stud")[0].setAttribute("id", "highlight");
		document.getElementsByClassName("stud2")[0].setAttribute("id", "highlight");
	</script>
	<form method='post' action='viewstudent'>
		<h2> Roll No : <input type='number' placeholder="Roll Number" name='rollno' id="tb1" required>
		<input type="submit" value="Submit" id="button3"></h2>
	</form>
{% endblock %}